[Unit]
Description=A Seeed voicecard led client for snips-hotword
After=snips-hotword.service

[Service]
ExecStart=/usr/bin/python -u hotword_trigger_led.py
WorkingDirectory=/home/pi/snips_mqtt_client_for_seeed_voicecard
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
